---
title: "ISLR. Chapter 7"
subtitle: "Moving Beyond Linearity"
author: "Mykyta Horovoi"
format:
  html:
    embed-resources: true
    fig-cap-location: top
---

In [3]:
#| echo: false
#| warning: false

import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import PolynomialFeatures
import statsmodels.api as sm
import statsmodels.formula.api as smf

%matplotlib inline
import matplotlib_inline.backend_inline

sns.set(rc={"figure.dpi":100, 'savefig.dpi':300})
sns.set_context('notebook')
sns.set_style("ticks")
matplotlib_inline.backend_inline.set_matplotlib_formats("retina")

## 7.1 Lab: Non-linear Modeling

### 7.1.1 Polynomial Regression and Step Functions

Load `Wage` data

In [4]:
df_wage = pd.read_csv("../Data/Wage.csv")

In [5]:
df_wage.head()

,year,age,sex,maritl,race,education,region,jobclass,health,health_ins,logwage,wage
0,2006,18,1. Male,1. Never Married,1. White,1. < HS Grad,2. Middle Atlantic,1. Industrial,1. <=Good,2. No,4.318063,75.043154
1,2004,24,1. Male,1. Never Married,1. White,4. College Grad,2. Middle Atlantic,2. Information,2. >=Very Good,2. No,4.255273,70.476020
2,2003,45,1. Male,2. Married,1. White,3. Some College,2. Middle Atlantic,1. Industrial,1. <=Good,1. Yes,4.875061,130.982177
3,2003,43,1. Male,2. Married,3. Asian,4. College Grad,2. Middle Atlantic,2. Information,2. >=Very Good,1. Yes,5.041393,154.685293
4,2005,50,1. Male,4. Divorced,1. White,2. HS Grad,2. Middle Atlantic,2. Information,1. <=Good,1. Yes,4.318063,75.043154

Create X and Y vectors

In [8]:
X = df_wage['age'].values.reshape(-1,1)
y = df_wage['wage'].values.reshape(-1,1)

# create polynomial features
max_order = 5
fit_list = []

for order in range(1, max_order+1):
    X_poly = PolynomialFeatures(order).fit_transform(X)
    poly_reg = sm.OLS(y, X_poly).fit()
    fit_list.append(poly_reg)

For example, extract a summary for the 4th-order polynomial

In [30]:
print(fit_list[3].summary().tables[0])
print(fit_list[3].summary().tables[1])

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.086
Model:                            OLS   Adj. R-squared:                  0.085
Method:                 Least Squares   F-statistic:                     70.69
Date:                Wed, 25 Jan 2023   Prob (F-statistic):           2.77e-57
Time:                        16:08:52   Log-Likelihood:                -15315.
No. Observations:                3000   AIC:                         3.064e+04
Df Residuals:                    2995   BIC:                         3.067e+04
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       -184.1542     60.040     -3.067      0.002    -301.879     -66.430
x1            21.2455      5.887      3.609      0.000       9.703      32.788
x2            -0.5639      0.206     -2.736      0.006      -0.968      -0.160
x3             0.0068      0.003      2.221      0.026       0.001       0.013
x4         -3.204e-05   1.64e-05     -1.952      0.051   -6.42e-05    1.45e-07
==============================================================================

In [28]:
sm.stats.anova_lm(fit_list[0], fit_list[1], fit_list[2], fit_list[3], fit_list[4])

   df_resid           ssr  df_diff        ss_diff           F        Pr(>F)
0    2998.0  5.022216e+06      0.0            NaN         NaN           NaN
1    2997.0  4.793430e+06      1.0  228786.010128  143.593107  2.363850e-32
2    2996.0  4.777674e+06      1.0   15755.693664    9.888756  1.679202e-03
3    2995.0  4.771604e+06      1.0    6070.152124    3.809813  5.104620e-02
4    2994.0  4.770322e+06      1.0    1282.563017    0.804976  3.696820e-01